table.fabrikTable {
	border-collapse: collapse;
	margin-top: 10px;
}

table.fabrikTable td,table.fabrikTable th {
	padding: 5px;
	border: 1px solid #cccccc;
}

.fabrikForm {
	margin-top: 15px;
}

table.fabrikTable tr.fabrik_calculations td {
	border: 0 !important;
}

table.fabrikTable th {
	background-color: #e0e0e0;
}

.oddRow0 {
	background-color: #FAFAFA;
}

.oddRow1 {
	background-color: #Efefef;
}

.firstPage,.previousPage,.aPage,.nextPage,.lastPage {
	display: inline;
	padding: 3px;
}

table.filtertable {
	width: 50%;
}

.fabrikHover {
	background-color: #ffffff;
}

/** highlight the last row that was clicked */
.fabrikRowClick {
	background-color: #ffffff;
}

/** highlight the loaded row - package only */
.activeRow {
	background-color: #FFFFCC;
}

.emptyDataMessage {
	background-color: #EFE7B8;
	border-color: #EFD859;
	border-width: 2px 0;
	border-style: solid;
	padding: 5px;
	margin: 10px 0;
	font-size: 1em;
	color: #CC0000;
	font-weight: bold;
}

.tablespacer {
	height: 20px;
}

.fabrikButtons {
	text-align: right;
	padding-top: 10px;
}

ul.fabrikRepeatData {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.fabrikRepeatData li {
	background-image: none;
	padding: 0;
	margin: 0;
}