.icon-48-fabrik-table{
	background-image:url(images/header/fabrik-table.png);
}
.icon-48-fabrik-schedule{
	background-image:url(images/header/fabrik-schedule.png);
}

.icon-48-fabrik-connection{
	background-image:url(images/header/fabrik-connection.png);
}

.icon-48-fabrik-visualization{
	background-image:url(images/header/fabrik-visualization.png);
}

.icon-48-fabrik-package{
	background-image:url(images/header/fabrik-package.png);
}

.icon-48-fabrik-form{
	background-image:url(images/header/fabrik-form.png);
}

.icon-48-fabrik-group{
	background-image:url(images/header/fabrik-group.png);
}


.icon-48-fabrik-element{
	background-image:url(images/header/fabrik-element.png);
}
