#fabrikOverlay{
  background-color: #000000;
  cursor: pointer;
  left: 0;
  top:0;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.fabrikWindow {
	z-index: 100000;
	position: absolute;
	border-radius: 7px;
	-moz-border-radius: 7px;
	border: 1px solid #ccc;
	min-height: 30px;
	background-color: #fff;
	box-shadow: 2px 5px 5px #888;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	background-color:#fff !important;
}

.itemContent{
	margin:auto;
	overflow:auto;
	height:100%;
	text-align: left;
}

.itemContentPadder{
		padding:10px;
}

.draggable{
	cursor: move;
}

.expand{
	position: absolute;
	right:20px;
	top:6px;
}

.handle {
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px; height : 15px;
	height: 15px; cursor : move;
	background: #eee;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#cccccc', endColorstr = '#eee' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#ccc) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #eee, #ccc);
	padding:4px 11px;
}

.close{
	position:absolute;right:0;
}
span.handlelabel {
	color:#999;
}


.dragger {
	cursor: nwse-resize;
	height: 15px;
	width: 15px;
	right: 8px;
	bottom: 10px;
	position: absolute;
	border-radius: 0px 0px 7px 0px;
	-moz-border-radius: 0px 0px 7px 0px;
}

.bottomBar{
	border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	height: 15px;
	background: #ccc;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#cccccc', endColorstr = '#666666' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#ccc) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #eee, #ccc);
	padding:4px 11px;
	position:relative;
}